@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,800;0,900;1,300&display=swap');

:root {
  --font: 'Lato', sans-serif;
  --radius: 4px;
  --btn-radius: 8px;
  --i-padding: 16px;
  --o-padding: 32px;
  --light: #eef2ff;
  --dark: #262626;
  --bg-dark: #064e3b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  color: var(--dark);
}

.container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--bg-dark);
  color: var(--light);
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--o-padding);
  gap: 8px;
}

ul {
  list-style-type: none;
  padding: var(--o-padding);
  display: grid;
  gap: 16px;

}

.navbar li, .conf-buttons li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  font-size: larger;
}

.navbar img, .conf-buttons img {
  max-width: 32px;
  max-height: 32px;
}

.header img {
  max-width: 24px;
  max-height: 24px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  background-color: #059669;
  padding: var(--i-padding);
}

.header > * {
  display: flex;
  align-items: center;
  gap: 16px;
}

.file-buttons button {
  padding: 8px 16px;
  border-radius: 16px;
}