@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,800;0,900;1,300&display=swap');

:root {
  --font: 'Lato', sans-serif;
  --radius: 4px;
  --btn-radius: 8px;
  --i-padding: 16px;
  --o-padding: 32px;
  --light: #eef2ff;
  --dark: #262626;
  --bg-dark: #064e3b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  color: var(--light);
}

.container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--bg-dark);
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.logo {
  display: flex;
  align-items: center;
  padding: var(--o-padding);
  gap: 8px;
}

ul {
  list-style-type: none;
  padding: var(--o-padding);
  display: grid;
  gap: 16px;

}

.navbar li, .conf-buttons li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  font-size: 1rem;
}

.navbar img, .conf-buttons img {
  max-width: 32px;
  max-height: 32px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template: 0.75fr 1fr / 2fr 1fr;
  background-color: #059669;
}

.header > * {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: var(--i-padding) var(--o-padding);
}

.header img {
  max-width: 24px;
}

#search {
  border: 1px solid grey;
  border-radius: 24px;
  height: 24px;
  width: 100%;
  padding: var(--i-padding);
  outline-style: none;
  background-color: #ecfdf5;
  color: rgb(150, 150, 150);
}

#user-info-pic, #user-profile-pic {
  border-radius: 32px;
}

#user-info-pic {
  max-width: 64px;
}

#user-profile-pic {
  max-width: 48px;
}

#user-profile-name {
  font-size: 1rem;
}

.header .user-profile, .header .file-buttons {
  justify-self: end;
}

.file-buttons button {
  color: var(--dark);
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 16px;
  border-style: none;
  background-color: #d1fae5;
}

.file-buttons button:hover {
  background-color: white;
}

.main {
  display: grid;
  grid-template: auto auto / 2.5fr 1fr;
  gap: var(--i-padding);
  color: var(--dark);
  background-color: #a7f3d0;
  padding: var(--i-padding);
}

h3 {
  font-size: 1.3rem;
}

.main .projects {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template: auto auto auto / auto auto;
  gap: var(--i-padding);
  padding: var(--i-padding);
  height: auto;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  align-items: flex-start;
  background-color: #ecfdf5;
  border-radius: 16px;
  padding: var(--i-padding);
  border-left: 4px solid #059669;
}

.card-buttons {
  align-self: flex-end;
}

.card-buttons img {
  filter: invert(100%);
  max-width: 24px;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ecfdf5;
  border-radius: 8px;
  margin-top: var(--i-padding);
  padding: var(--i-padding);
}

.ad-card .card-title {
  font-size: 1rem;
}

.ad-card p {
  font-size: 0.825rem;
}

.trending img {
  max-width: 48px;
  border-radius: 16px;
}

.trending {
  display: flex;
  flex-direction: column;
}

.trending-cards {
  flex: 1;
}

.trending-card {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 0.825rem;
}